<h2> Edit Item </h2>
<br>
<p> Name of item: <%= @item_to_edit.name %> </p>
<br>
<p> Description: <%= @item_to_edit.description %> </p>
<br>
<p> Tradeable? (if true it is publicly viewable) <%= @item_to_edit.tradeable? %> </p>
<br>
<p> Condition: <%= @item_to_edit.condition %> </p>
<br>
<p> Asking Price: $ <%= @item_to_edit.asking_price %> </p>
<br>
<p> Keywords (help others find your item): <%= @item_to_edit.keywords %> </p>
<br>
<form action= '/items/<%= @item_to_edit.id %>' method = "post">
  <input type="hidden" name="_method" value="patch">
  <label>Name: </label>
  <input type="text" name="name" />
  <br>
  <label>Description: </label>
  <input type="text" name="description" />
  <br>
  <label>Tradeable? </label>
  <input type="checkbox" name="tradeable?" value = "true"/>
  <br>
  <p> Note: checking the box makes your item publicly viewable and tradeable. </p>
  <br>
  <label>Condition: </label>
  <input type="text" name="condition" />
  <br>
  <label>(Enter just a number for dollars e.g. 25.00) Asking Price: $ </label>
  <input type="text" name="asking_price" />
  <br>
  <label>Keywords: </label>
  <input type="text" name="keywords" />
  <br>
  <input value="submit edit" type="submit"/>
</form>
